@font-face {
  font-family: "france";
  src: url("../../../assets/fonts/france/France.ttf");
}

.container {
  display: flex;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

.container-left {
  flex: 7;
  height: 100vh;
  background: linear-gradient(147.87deg, #133f77 26.36%, #0f9cda 125.59%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container-right {
  flex: 5;
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.logo-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: linear-gradient(180deg, #13244e 0%, #75c5f0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.logo-text {
  color: #5a99c4;
  font-family: "Source Sans Pro", sans-serif;
}

.title h1 {
  font-family: "france";
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 30px;
}

.title p {
  font-size: 15px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error-body {
  background-color: #f8d7da;
  padding: 10px;
}

.error-text {
  color: #721c24;
}

input {
  height: 40px;
  width: 350px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}

input:focus {
  outline: none;
}

button {
  height: 40px;
  background: #13244e;
  border-radius: 6px;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background-color: #6b7590;
}

.forgot-password {
  text-align: center;
  margin-top: 20px;
}

.forgot-password a {
  text-decoration: none;
  color: #0093dd;
}
